<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoteCrudMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        /* Body styles */
        body {
            background-color: #f2f5f8; /* Açık mavi arka plan */
            color: #333; /* Koyu gri metin rengi */
        }

        /* Navbar styles */
        .navbar {
            background-color: #1a237e; /* Koyu mavi arka plan */
        }

        .navbar-brand,
        .navbar-nav .nav-link {
            color: #ffffff; /* Beyaz metin rengi */
        }

        .navbar-toggler-icon {
            background-color: #ffffff; /* Beyaz renkli toggle simgesi */
        }

        /* Container styles */
        .container {
            background-color: #ffffff; /* Beyaz arka plan */
            border-radius: 10px; /* Kenar yuvarlaklığı */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
            padding: 20px; /* İçerik boşluğu */
            margin-top: 20px; /* Üst boşluk */
        }

        /* Footer styles */
        .footer {
            background-color: #1a237e; /* Koyu mavi arka plan */
            color: #ffffff; /* Beyaz metin rengi */
            padding: 10px 0; /* İçerik boşluğu */
            text-align: center; /* Metin hizalama */
        }

        /* Main content styles */
        main {
            background-color: #ffffff; /* Beyaz arka plan */
        }

        /* Button styles */
        .btn {
            background-color: #1a237e; /* Koyu mavi düğün arka plan rengi */
            color: #ffffff; /* Beyaz metin rengi */
            border: none; /* Kenar çizgisi olmaması */
            padding: 10px 20px; /* Düğme içeriği boşluğu */
            border-radius: 5px; /* Kenar yuvarlaklığı */
        }

            /* Hover styles for buttons */
            .btn:hover {
                background-color: #3949ab; /* Daha koyu mavi hover rengi */
                color: #ffffff; /* Beyaz metin rengi */
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NoteCrudMvc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Note" asp-action="Index">Notes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NoteCrudMvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
